pipeline/demoronak.json
{
	"name": "demoronak",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "configcsv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeSink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "stageblob",
										"type": "LinkedServiceReference"
									},
									"path": "trial"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "String"
											},
											"sink": {
												"name": "ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String"
											},
											"sink": {
												"name": "CITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String"
											},
											"sink": {
												"name": "DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "player_of_match",
												"type": "String"
											},
											"sink": {
												"name": "PLAYER_OF_MATCH",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "venue",
												"type": "String"
											},
											"sink": {
												"name": "VENUE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "neutral_venue",
												"type": "String"
											},
											"sink": {
												"name": "NEUTRAL_VENUE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "team1",
												"type": "String"
											},
											"sink": {
												"name": "TEAM1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "team2",
												"type": "String"
											},
											"sink": {
												"name": "TEAM2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "toss_winner",
												"type": "String"
											},
											"sink": {
												"name": "TOSS_WINNER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "toss_decision",
												"type": "String"
											},
											"sink": {
												"name": "TOSS_DECISION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "winner",
												"type": "String"
											},
											"sink": {
												"name": "WINNER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "result",
												"type": "String"
											},
											"sink": {
												"name": "RESULT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "result_margin",
												"type": "String"
											},
											"sink": {
												"name": "RESULT_MARGIN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "eliminator",
												"type": "String"
											},
											"sink": {
												"name": "ELIMINATOR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "method",
												"type": "String"
											},
											"sink": {
												"name": "METHOD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "umpire1",
												"type": "String"
											},
											"sink": {
												"name": "UMPIRE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "umpire2",
												"type": "String"
											},
											"sink": {
												"name": "UMPIRE2",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "sourcecsv",
									"type": "DatasetReference",
									"parameters": {
										"pfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 14
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 15
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 16
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 17
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "2ndblobip",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archivecopy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "deletecontainer",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-20T06:06:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}